# Segmenting and Clustering Neighborhoods in Toronto: part 2 (from line 15).
## Applied Data Science Capstone Week 3 Peer-Graded Assignment.

### Let us install some of the libraries which we will need later on.

In [1]:
import sys
!{sys.executable} -m pip install lxml
print("lxml installed")
!{sys.executable} -m pip install beautifulsoup4
print("beautifulsoup4 installed")
!{sys.executable} -m pip install geopy
print("geopy installed")
!{sys.executable} -m pip install folium
print("folium installed")

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.2)
lxml installed
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (1.9.5)
beautifulsoup4 installed
Requirement already satisfied: geopy in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.20.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geopy) (1.50)
geopy installed
Requirement already satisfied: folium in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.5.0)
Requirement already satisfied: branca in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium) (0.3.1)
Requirement already satisfied: jinja2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium) (2.10.3)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium) (2.22.0)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium) (1.13.0)
Requirement already satisfied: MarkupSafe>=0.23 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from jinja2->folium) (1.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium) (1.25.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium) (2019.9.11)
folium installed

### Importing required libraries

In [2]:
import lxml
import lxml.html as lh

import requests # library to handle requests
from requests import get
import urllib.request

from bs4 import BeautifulSoup # for webscraping import Beautiful Soup

import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import csv

### Scraping the wikipedia page.

In [3]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"   # link of the destination wikipedia page.
page  = urllib.request.urlopen(link).read()   # source code of the destination page

In [4]:
# step by step scraping of the above source code of the destination page to get the table data we require

# parsing the data in the variable 'page' by using lxml
full_page = BeautifulSoup(page, 'lxml')

# finding the required table 
table_data = full_page.find('table', class_ = 'wikitable')

# finding the required data in the above identified table
trs = table_data.find_all('tr')

### Now let us move forward with making a pandas dataframe with these data.
#### We will do that by first aggregating these data into a variable;

In [5]:
data = ""                                # its an empty string in which we will aggregate our whole data.
for x in trs:                            # 'trs' is the variable in which the data is stored from web-scrapping the wikipedia page.
    row = ""                             # its another empty string in which we will aggregate row wise data.
    for y in x.find_all('td'): 
        row = row + "," + y.text         # using ',' as a delimiter we are aggregating the data according to each row. 
    data = data + row                    # then we are appending the variable 'data' by adding each row to it.
print(data)

,M1A,Not assigned,Not assigned
,M2A,Not assigned,Not assigned
,M3A,North York,Parkwoods
,M4A,North York,Victoria Village
,M5A,Downtown Toronto,Harbourfront
,M6A,North York,Lawrence Heights
,M6A,North York,Lawrence Manor
,M7A,Downtown Toronto,Queen's Park
,M8A,Not assigned,Not assigned
,M9A,Queen's Park,Not assigned
,M1B,Scarborough,Rouge
,M1B,Scarborough,Malvern
,M2B,Not assigned,Not assigned
,M3B,North York,Don Mills North
,M4B,East York,Woodbine Gardens
,M4B,East York,Parkview Hill
,M5B,Downtown Toronto,Ryerson
,M5B,Downtown Toronto,Garden District
,M6B,North York,Glencairn
,M7B,Not assigned,Not assigned
,M8B,Not assigned,Not assigned
,M9B,Etobicoke,Cloverdale
,M9B,Etobicoke,Islington
,M9B,Etobicoke,Martin Grove
,M9B,Etobicoke,Princess Gardens
,M9B,Etobicoke,West Deane Park
,M1C,Scarborough,Highland Creek
,M1C,Scarborough,Rouge Hill
,M1C,Scarborough,Port Union
,M2C,Not assigned,Not assigned
,M3C,North York,Flemingdon Park
,M3C,North York,Don Mills South
,M4C,East York,Woodbine Heights
,M5C,Downtown Toronto,St. James Town
,M6C,York,Humewood-Cedarvale
,M7C,Not assigned,Not assigned
,M8C,Not assigned,Not assigned
,M9C,Etobicoke,Bloordale Gardens
,M9C,Etobicoke,Eringate
,M9C,Etobicoke,Markland Wood
,M9C,Etobicoke,Old Burnhamthorpe
,M1E,Scarborough,Guildwood
,M1E,Scarborough,Morningside
,M1E,Scarborough,West Hill
,M2E,Not assigned,Not assigned
,M3E,Not assigned,Not assigned
,M4E,East Toronto,The Beaches
,M5E,Downtown Toronto,Berczy Park
,M6E,York,Caledonia-Fairbanks
,M7E,Not assigned,Not assigned
,M8E,Not assigned,Not assigned
,M9E,Not assigned,Not assigned
,M1G,Scarborough,Woburn
,M2G,Not assigned,Not assigned
,M3G,Not assigned,Not assigned
,M4G,East York,Leaside
,M5G,Downtown Toronto,Central Bay Street
,M6G,Downtown Toronto,Christie
,M7G,Not assigned,Not assigned
,M8G,Not assigned,Not assigned
,M9G,Not assigned,Not assigned
,M1H,Scarborough,Cedarbrae
,M2H,North York,Hillcrest Village
,M3H,North York,Bathurst Manor
,M3H,North York,Downsview North
,M3H,North York,Wilson Heights
,M4H,East York,Thorncliffe Park
,M5H,Downtown Toronto,Adelaide
,M5H,Downtown Toronto,King
,M5H,Downtown Toronto,Richmond
,M6H,West Toronto,Dovercourt Village
,M6H,West Toronto,Dufferin
,M7H,Not assigned,Not assigned
,M8H,Not assigned,Not assigned
,M9H,Not assigned,Not assigned
,M1J,Scarborough,Scarborough Village
,M2J,North York,Fairview
,M2J,North York,Henry Farm
,M2J,North York,Oriole
,M3J,North York,Northwood Park
,M3J,North York,York University
,M4J,East York,East Toronto
,M5J,Downtown Toronto,Harbourfront East
,M5J,Downtown Toronto,Toronto Islands
,M5J,Downtown Toronto,Union Station
,M6J,West Toronto,Little Portugal
,M6J,West Toronto,Trinity
,M7J,Not assigned,Not assigned
,M8J,Not assigned,Not assigned
,M9J,Not assigned,Not assigned
,M1K,Scarborough,East Birchmount Park
,M1K,Scarborough,Ionview
,M1K,Scarborough,Kennedy Park
,M2K,North York,Bayview Village
,M3K,North York,CFB Toronto
,M3K,North York,Downsview East
,M4K,East Toronto,The Danforth West
,M4K,East Toronto,Riverdale
,M5K,Downtown Toronto,Design Exchange
,M5K,Downtown Toronto,Toronto Dominion Centre
,M6K,West Toronto,Brockton
,M6K,West Toronto,Exhibition Place
,M6K,West Toronto,Parkdale Village
,M7K,Not assigned,Not assigned
,M8K,Not assigned,Not assigned
,M9K,Not assigned,Not assigned
,M1L,Scarborough,Clairlea
,M1L,Scarborough,Golden Mile
,M1L,Scarborough,Oakridge
,M2L,North York,Silver Hills
,M2L,North York,York Mills
,M3L,North York,Downsview West
,M4L,East Toronto,The Beaches West
,M4L,East Toronto,India Bazaar
,M5L,Downtown Toronto,Commerce Court
,M5L,Downtown Toronto,Victoria Hotel
,M6L,North York,Downsview
,M6L,North York,North Park
,M6L,North York,Upwood Park
,M7L,Not assigned,Not assigned
,M8L,Not assigned,Not assigned
,M9L,North York,Humber Summit
,M1M,Scarborough,Cliffcrest
,M1M,Scarborough,Cliffside
,M1M,Scarborough,Scarborough Village West
,M2M,North York,Newtonbrook
,M2M,North York,Willowdale
,M3M,North York,Downsview Central
,M4M,East Toronto,Studio District
,M5M,North York,Bedford Park
,M5M,North York,Lawrence Manor East
,M6M,York,Del Ray
,M6M,York,Keelesdale
,M6M,York,Mount Dennis
,M6M,York,Silverthorn
,M7M,Not assigned,Not assigned
,M8M,Not assigned,Not assigned
,M9M,North York,Emery
,M9M,North York,Humberlea
,M1N,Scarborough,Birch Cliff
,M1N,Scarborough,Cliffside West
,M2N,North York,Willowdale South
,M3N,North York,Downsview Northwest
,M4N,Central Toronto,Lawrence Park
,M5N,Central Toronto,Roselawn
,M6N,York,The Junction North
,M6N,York,Runnymede
,M7N,Not assigned,Not assigned
,M8N,Not assigned,Not assigned
,M9N,York,Weston
,M1P,Scarborough,Dorset Park
,M1P,Scarborough,Scarborough Town Centre
,M1P,Scarborough,Wexford Heights
,M2P,North York,York Mills West
,M3P,Not assigned,Not assigned
,M4P,Central Toronto,Davisville North
,M5P,Central Toronto,Forest Hill North
,M5P,Central Toronto,Forest Hill West
,M6P,West Toronto,High Park
,M6P,West Toronto,The Junction South
,M7P,Not assigned,Not assigned
,M8P,Not assigned,Not assigned
,M9P,Etobicoke,Westmount
,M1R,Scarborough,Maryvale
,M1R,Scarborough,Wexford
,M2R,North York,Willowdale West
,M3R,Not assigned,Not assigned
,M4R,Central Toronto,North Toronto West
,M5R,Central Toronto,The Annex
,M5R,Central Toronto,North Midtown
,M5R,Central Toronto,Yorkville
,M6R,West Toronto,Parkdale
,M6R,West Toronto,Roncesvalles
,M7R,Mississauga,Canada Post Gateway Processing Centre
,M8R,Not assigned,Not assigned
,M9R,Etobicoke,Kingsview Village
,M9R,Etobicoke,Martin Grove Gardens
,M9R,Etobicoke,Richview Gardens
,M9R,Etobicoke,St. Phillips
,M1S,Scarborough,Agincourt
,M2S,Not assigned,Not assigned
,M3S,Not assigned,Not assigned
,M4S,Central Toronto,Davisville
,M5S,Downtown Toronto,Harbord
,M5S,Downtown Toronto,University of Toronto
,M6S,West Toronto,Runnymede
,M6S,West Toronto,Swansea
,M7S,Not assigned,Not assigned
,M8S,Not assigned,Not assigned
,M9S,Not assigned,Not assigned
,M1T,Scarborough,Clarks Corners
,M1T,Scarborough,Sullivan
,M1T,Scarborough,Tam O'Shanter
,M2T,Not assigned,Not assigned
,M3T,Not assigned,Not assigned
,M4T,Central Toronto,Moore Park
,M4T,Central Toronto,Summerhill East
,M5T,Downtown Toronto,Chinatown
,M5T,Downtown Toronto,Grange Park
,M5T,Downtown Toronto,Kensington Market
,M6T,Not assigned,Not assigned
,M7T,Not assigned,Not assigned
,M8T,Not assigned,Not assigned
,M9T,Not assigned,Not assigned
,M1V,Scarborough,Agincourt North
,M1V,Scarborough,L'Amoreaux East
,M1V,Scarborough,Milliken
,M1V,Scarborough,Steeles East
,M2V,Not assigned,Not assigned
,M3V,Not assigned,Not assigned
,M4V,Central Toronto,Deer Park
,M4V,Central Toronto,Forest Hill SE
,M4V,Central Toronto,Rathnelly
,M4V,Central Toronto,South Hill
,M4V,Central Toronto,Summerhill West
,M5V,Downtown Toronto,CN Tower
,M5V,Downtown Toronto,Bathurst Quay
,M5V,Downtown Toronto,Island airport
,M5V,Downtown Toronto,Harbourfront West
,M5V,Downtown Toronto,King and Spadina
,M5V,Downtown Toronto,Railway Lands
,M5V,Downtown Toronto,South Niagara
,M6V,Not assigned,Not assigned
,M7V,Not assigned,Not assigned
,M8V,Etobicoke,Humber Bay Shores
,M8V,Etobicoke,Mimico South
,M8V,Etobicoke,New Toronto
,M9V,Etobicoke,Albion Gardens
,M9V,Etobicoke,Beaumond Heights
,M9V,Etobicoke,Humbergate
,M9V,Etobicoke,Jamestown
,M9V,Etobicoke,Mount Olive
,M9V,Etobicoke,Silverstone
,M9V,Etobicoke,South Steeles
,M9V,Etobicoke,Thistletown
,M1W,Scarborough,L'Amoreaux West
,M2W,Not assigned,Not assigned
,M3W,Not assigned,Not assigned
,M4W,Downtown Toronto,Rosedale
,M5W,Downtown Toronto,Stn A PO Boxes 25 The Esplanade
,M6W,Not assigned,Not assigned
,M7W,Not assigned,Not assigned
,M8W,Etobicoke,Alderwood
,M8W,Etobicoke,Long Branch
,M9W,Etobicoke,Northwest
,M1X,Scarborough,Upper Rouge
,M2X,Not assigned,Not assigned
,M3X,Not assigned,Not assigned
,M4X,Downtown Toronto,Cabbagetown
,M4X,Downtown Toronto,St. James Town
,M5X,Downtown Toronto,First Canadian Place
,M5X,Downtown Toronto,Underground city
,M6X,Not assigned,Not assigned
,M7X,Not assigned,Not assigned
,M8X,Etobicoke,The Kingsway
,M8X,Etobicoke,Montgomery Road
,M8X,Etobicoke,Old Mill North
,M9X,Not assigned,Not assigned
,M1Y,Not assigned,Not assigned
,M2Y,Not assigned,Not assigned
,M3Y,Not assigned,Not assigned
,M4Y,Downtown Toronto,Church and Wellesley
,M5Y,Not assigned,Not assigned
,M6Y,Not assigned,Not assigned
,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
,M8Y,Etobicoke,Humber Bay
,M8Y,Etobicoke,King's Mill Park
,M8Y,Etobicoke,Kingsway Park South East
,M8Y,Etobicoke,Mimico NE
,M8Y,Etobicoke,Old Mill South
,M8Y,Etobicoke,The Queensway East
,M8Y,Etobicoke,Royal York South East
,M8Y,Etobicoke,Sunnylea
,M9Y,Not assigned,Not assigned
,M1Z,Not assigned,Not assigned
,M2Z,Not assigned,Not assigned
,M3Z,Not assigned,Not assigned
,M4Z,Not assigned,Not assigned
,M5Z,Not assigned,Not assigned
,M6Z,Not assigned,Not assigned
,M7Z,Not assigned,Not assigned
,M8Z,Etobicoke,Kingsway Park South West
,M8Z,Etobicoke,Mimico NW
,M8Z,Etobicoke,The Queensway West
,M8Z,Etobicoke,Royal York South West
,M8Z,Etobicoke,South of Bloor
,M9Z,Not assigned,Not assigned

#### Then making a CSV file and writing the data in that CSV file;

In [6]:
data_file = open("toronto_data.csv",'w')   
data_file.write(data)
data_file.close()

# so we have a variable now called 'data_file' with all the data in it and ',' as a delimiter.

#### And lastly converting that into a pandas dataframe.

In [7]:
data_file_df = pd.read_csv('toronto_data.csv',header= None)            # converting the CSV fie into a pandas dataframe

data_file_df.head()

    0    1                 2                 3
0 NaN  M1A      Not assigned      Not assigned
1 NaN  M2A      Not assigned      Not assigned
2 NaN  M3A        North York         Parkwoods
3 NaN  M4A        North York  Victoria Village
4 NaN  M5A  Downtown Toronto      Harbourfront

#### Okay so now let's clean our dataset.

#### The first step towards cleaning the dataset is making sure that we have only three columns here : 'PostalCode', 'Borough', 'Neighborhood'.
#### So we have to delete the first column in our dataset.
#### And rename the columns.

In [8]:
data_file_df.drop(columns = [0], axis= 1, inplace = True)   # droping the first column in the dataframe as it has only NaN values which are not required
data_file_df.head()

     1                 2                 3
0  M1A      Not assigned      Not assigned
1  M2A      Not assigned      Not assigned
2  M3A        North York         Parkwoods
3  M4A        North York  Victoria Village
4  M5A  Downtown Toronto      Harbourfront

In [9]:
data_file_df.columns = ['PostalCode', 'Borough', 'Neighborhood']       # naming the columns
data_file_df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

####  Now that we have our dataset fairly clean; the second step is to pre-process our dataset.
#### In order to do that we have to do three things :
##### 1. Only process the cells which have assigned boroughs, ignoring the rest of the cells with a borough that is **Not assigned**.
##### 2. Grouping the dataset by postal codes, because more that one neighborhood can exist in a postal code.
##### 3. If a cell has a borough but a **Not assigned** neighborhood, then the neighborhood will be the **same** as the borough.

In [10]:
data_file_df.drop(data_file_df.loc[data_file_df['Borough']== 'Not assigned'].index, inplace=True)  # Dropping cells with a Borough that is 'Not assigned'.
data_file_df.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

In [11]:
data_file_df.loc[data_file_df['Neighborhood'] =='Not assigned' , 'Neighborhood'] = data_file_df['Borough']   # asigning the neighborhood = borough for a not assigned neighborhood
data_file_df.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

In [12]:
data_file_df = data_file_df.groupby(['PostalCode',], sort= False,).agg( ', '.join)   # grouping the dataset by the postal code
data_file_df.head()

                           Borough                      Neighborhood
PostalCode
M3A                     North York                         Parkwoods
M4A                     North York                  Victoria Village
M5A               Downtown Toronto                      Harbourfront
M6A         North York, North York  Lawrence Heights, Lawrence Manor
M7A               Downtown Toronto                      Queen's Park

In [13]:
data_file_df.reset_index(inplace = True) # resetting the index of the dataset to 0 initial.
data_file_df.head()

  PostalCode                 Borough                      Neighborhood
0        M3A              North York                         Parkwoods
1        M4A              North York                  Victoria Village
2        M5A        Downtown Toronto                      Harbourfront
3        M6A  North York, North York  Lawrence Heights, Lawrence Manor
4        M7A        Downtown Toronto                      Queen's Park

In [14]:
data_file_df.shape

(103, 3)

#### Nest step is we need to get the latitude and the longitude coordinates of each neighborhood; in order to utilize the Foursquare location data.
##### For that we will be using the given link in the course submission page in order to get the latitude and longitude data that is required.

In [15]:
lat_long_data_url='http://cocl.us/Geospatial_data' # our destination URL consisting of the CSV file of our data.

# sending a HTTP request, opening and saving the contents of the response as 'tf', and opening a csv file to write the contens of the response to it.
with urllib.request.urlopen(lat_long_data_url) as tf, open('lat_long_data.csv', 'w') as f:       
    f.write(tf.read().decode())                                                             # writing the contents of the response to the opened csv file.
    f.close()                                                                               # finally closing the csv file.

In [16]:
df_lat_long = pd.read_csv('lat_long_data.csv')
df_lat_long.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [17]:
# renming the coluomn name from 'Postal Code' to 'PostalCode' ; so that it matches the column name from the 'data_file_df'.
df_lat_long = df_lat_long.rename(columns = {"Postal Code" : "PostalCode"})
# df_lat_long["Postal Code"] = "PostalCode"
df_lat_long.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

#### Okay now we need to merge the two datasets.

In [18]:
final_data = pd.merge(data_file_df, df_lat_long, on='PostalCode')
final_data.head(25)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,M6A,"North York, North York","Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park,43.662301,-79.389494
5,M9A,Queen's Park,Queen's Park,43.667856,-79.532242
6,M1B,"Scarborough, Scarborough","Rouge, Malvern",43.806686,-79.194353
7,M3B,North York,Don Mills North,43.745906,-79.352188
8,M4B,"East York, East York","Woodbine Gardens, Parkview Hill",43.706397,-79.309937
9,M5B,"Downtown Toronto, Downtown Toronto","Ryerson, Garden District",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,"Etobicoke, Etobicoke, Etobicoke, Etobicoke, Et...","Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724
12,M1C,"Scarborough, Scarborough, Scarborough","Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
13,M3C,"North York, North York","Flemingdon Park, Don Mills South",43.725900,-79.340923
14,M4C,East York,Woodbine Heights,43.695344,-79.318389
15,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
16,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
17,M9C,"Etobicoke, Etobicoke, Etobicoke, Etobicoke","Bloordale Gardens, Eringate, Markland Wood, Ol...",43.643515,-79.577201
18,M1E,"Scarborough, Scarborough, Scarborough","Guildwood, Morningside, West Hill",43.763573,-79.188711
19,M4E,East Toronto,The Beaches,43.676357,-79.293031
20,M5E,Downtown Toronto,Berczy Park,43.644771,-79.373306
21,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512
22,M1G,Scarborough,Woburn,43.770992,-79.216917
23,M4G,East York,Leaside,43.709060,-79.363452
24,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383

In [19]:
final_data.shape

(103, 5)